<%- include('includes/head') %>
<%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        
        <div class="col-lg-8 my-3">
          <h1 class="text-center">Evento</h1>
          <p class="text-center lead">Crie ou edite seu evento abaixo</p>

          <%- include('includes/messages') %>

          <form action="/contato/register" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group">
              <label>Evento</label>
              <input type="text" class="form-control" name="evento" value=" <%= contato.evento %>">
            </div>
            <div class="form-group">
              <label>Endereço</label>
              <input type="text" class="form-control" name="endereco" value=" <%= contato.endereco %>">
            </div>
            <div class="form-group">
              <label>Data</label>
              <input type="text" class="form-control" name="data" value=" <%= contato.data %>">
            </div>
            <div class="form-group">
              <label>Hora</label>
              <input type="text" class="form-control" name="hora" value=" <%= contato.hora %>">
            </div>

            <button type="submit" class="btn btn-primary">Salvar</button>
          </form>


        </div>
        
        <div class="col-lg-2"></div>
      </div>
    </div>

<%- include('includes/footer') %>

    
