<%- include('includes/head') %>
<%- include('includes/nav') %>

    <div class="container">
      <div class="row">
        <div class="col-lg-2"></div>
        
        <div class="col-lg-8 my-3">
          <h1 class="text-center">Agenda Cultural</h1>
          <p class="text-center lead">Compartilhe os eventos de Lauro de Freitas</p>

          <%- include('includes/messages') %>

          <% if(contatos.length > 0) { %>
          <div class="responsive-table">
            <table class="table my-3">
              <% contatos.forEach(contato => { %>
                <tr>
                  <td><%= contato.evento %></td>
                  <td><%= contato.endereco %></td>
                  <td><%= contato.data %></td>
                  <td><%= contato.hora %></td>
                  <td><a class="btn btn-primary" href="/contato/index/<%= contato._id %>">Editar</a></td>
                  <td><a class="btn btn-danger" href="/contato/delete/<%= contato._id %>">Excluir</a></td>
                </tr>
                <% }); %>
            </table>
          </div>
          <% } else { %>
              <p class="text-dark text-center lead">Não existem eventos na sua VAW - Agenda Cultural</p>
          <% } %>
        </div>
        
        <div class="col-lg-2"></div>
      </div>
    </div>

<%- include('includes/footer') %>

    
